<!-- Main Header -->
  <header class="section section--main-header">
    <div class="top-header-nav-wrap">
      <div class="section__inner container">
        <nav class="navbar navbar-expand-lg">
          <a class="navbar-brand" href="/">
            <img src="assets/img/ebit-logo-white.png" alt="" class="img-fluid">
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
          </button>
  
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                <a class="nav-link" href="#">Wishlist <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://ghaas.xyz/blog">Username</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
    <!-- </div> -->
    <div class="top-sidebar-nav__wrap">
      <div class="top-sidebar-nav__logo">
        <a href="/">
            <img src="assets/img/ebit-logo-white.png" alt="" class="img-fluid">
        </a>
        
      </div>
      <ul class="top-sidebar-nav__list">
        <li>
          <a routerLink="/ott" class="active">
            <span class="icon">
              <img src="assets/img/nav-movie.png" alt="">
            </span>
            <span class="text">OTT</span>
          </a>
        </li>
        <li>
          <a routerLink="/books">
            <span class="icon">
              <img src="assets/img/nav-books.png" alt="">
            </span>
            <span class="text">Books</span>
          </a>
        </li>
        <li>
          <a routerLink="/podcasts">
            <span class="icon">
              <img src="assets/img/nav-podcast.png" alt="">
            </span>
            <span class="text">Podcast</span>
          </a>
        </li>
        <li>
          <a routerLink="/games">
            <span class="icon">
              <img src="assets/img/nav-games.png" alt="">
            </span>
            <span class="text">Games</span>
          </a>
        </li>
      </ul>
    </div>
  </header>    
  <!-- main header -->