.home-explorer-gener-list {
  margin: 0;
  padding: 0;
  margin-bottom: 2rem;
  text-align: center;
}
.home-explorer-gener-list li {
  display: inline-block;
  margin-right: 1rem;
}
.home-explorer-gener-list li span {
  color: rgba(255, 255, 255, 0.75);
  padding: 1rem;
  border-radius: 50px;
  text-decoration: none;
  display: inline-block;
}
.home-explorer-gener-list li:hover span/* , .home-explorer-gener-list li.active span */ {
  background: linear-gradient(270deg, #7c7a7b 0%, #555152 100%);
  color: #fff;
  border: transparent;
}
.home-explorer-gener-list li.active span {
  background: linear-gradient(270deg, #ED2961 0%, #BD0F40 100%);
  color: #fff;
  border: transparent;
}

/* movie explorer */

.home-explorer-movie-list-carousel {
  position: relative;
}

.home-explorer-movie-list-carousel.slick-slider {
  margin-left: -15px;
  margin-right: -15px;
}

.home-explorer-movie-list-carousel .slick-slide {
  margin-left: 10px;
  margin-right: 10px;
}

.home-explorer-movie-list-carousel .slick-slide a {
  color: #fff;
  text-decoration: none;
}

.home-explorer-movie-list-carousel .slick-slide a .img-wrap {
  margin-bottom: 1rem;
}

.home-explorer-movie-list-carousel .slick-slide a .details {
  font-weight: normal;
  display: flex;
  justify-content: space-between;
}

.home-explorer-movie-list-carousel .slick-slide a .details .icon {
  display: inline-block;
  margin-right: 4px;
  position: relative;
  top: -4px;
}

.home-explorer-movie-list-carousel div .title {
  position: absolute;
  bottom: 0px;
  padding: 1rem;
  font-size: 1.25rem;
  color: #fff;
}

.home-explorer-movie-list-carousel div .img-wrap {
  position: relative;
}

.home-explorer-movie-list-carousel div .img-wrap::after {
  position: absolute;
  display: block;
  content: " ";
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 31.98%, rgba(4, 3, 9, 0.514342) 59.06%, rgba(6, 4, 12, 0.694493) 70%, rgba(7, 5, 15, 0.84) 83.54%, rgba(8, 6, 16, 0.76) 97.6%);
  opacity: 0.75;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.home-explorer-movie-list-carousel .slick-prev {
	left: 10px;
}

.home-explorer-movie-list-carousel .slick-next {
	right: 10px;
}