.top-header-nav-wrap{
  background: #151F30;
  padding: 0.5rem 0;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 1000;

  .nav-item > a{
    color: #fff;
  }

  .navbar-brand{
    display: none;
  }
}

.top-sidebar-nav{
  &__wrap{
    background: #151F30;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    z-index: 1000;

  }

  &__logo{
    padding: 2rem 0.5rem;
    border-bottom: 1px solid #051019;
    text-align: center;
  }

  &__list{
    padding: 0;
    margin: 0;

    li{
      display: block;
      font-size: .8rem;
      text-align: center;
      border-bottom: 1px solid #051019;

      a{
        padding: 3rem 0.5rem;
        color: #6E7588;
        display: inline-block;
        width: 100%;

        &:hover,
        &.active{
          background: linear-gradient(180deg, #FE316C 0%, #ED2860 26.77%, #A5002F 100%);
          color: #fff;

          img{
            filter:  brightness(0) invert(1);
          }
        }
      }

      .icon{
        display: block;
        margin-bottom: 0.5rem;
      }

      .text{
        display: block;
      }
    }
  }
}

.archive-main{

  &-info-section{
    min-height: 400px;
    background: url('../img/movie-hero.jpg');
    background-size: cover;  
    display: flex;
    align-items: flex-end;

    &--about{
      background-color: rgba(0,0,0,0.5);
      background-image: url('../img/about-hero.jpg');
    }
  }

  &-info-section__inner{
    margin-top: auto;
    margin-bottom: 0rem;
    padding-bottom: 2rem;
    width: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 28.21%, rgba(4, 3, 9, 0.514342) 57.37%, rgba(8, 6, 16, 0.76) 97.6%);
  }

  &-content{

    &__main-heading{
      font-size: 2rem;
      border-left: 1px solid #ED2860;
      border-width: 4px;
      padding-left: 0.5rem;
      margin-left: -0.5rem;
      padding-top: 0;
      padding-bottom: 0;
    }
  }
}

.movie-filter{
  &__wrap{
    background: #151F30;
  }

  &__heading{
    padding: 1rem;
    border-bottom: 1px solid #051019;

  }
}

.movie-filter-option-list{
  padding: 0.5rem 0;
  margin: 0;
  margin-bottom: 1rem;

  li{
    display: block;
    padding: 0.5rem 1rem;
    color: rgba(255, 255, 255, 0.75);

    &:hover{
      color: rgba(255, 255, 255, 1);
    }

     /* Customize the label (the m-checkbox-container) */
    .m-checkbox-container {
      display: block;
      position: relative;
      padding-left: 35px;
      margin-bottom: 12px;
      cursor: pointer;
      font-size: 1rem;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    /* Hide the browser's default checkbox */
    .m-checkbox-container input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
    }

    /* Create a custom checkbox */
    .checkmark {
      position: absolute;
      top: 0;
      left: 0;
      height: 20px;
      width: 20px;
      background-color: rgba(28, 46, 78, 1);
    }

    /* On mouse-over, add a grey background color */
    .m-checkbox-container:hover input ~ .checkmark {
      background-color: #ccc;
    }

    /* When the checkbox is checked, add a blue background */
    .m-checkbox-container input:checked ~ .checkmark {
      // background-color: #2196F3;
      background: linear-gradient(180deg, #FE316C 0%, #ED2860 26.77%, #A5002F 100%);
    }

    /* Create the checkmark/indicator (hidden when not checked) */
    .checkmark:after {
      content: "";
      position: absolute;
      display: none;
    }

    /* Show the checkmark when checked */
    .m-checkbox-container input:checked ~ .checkmark:after {
      display: block;
    }

    /* Style the checkmark/indicator */
    .m-checkbox-container .checkmark:after {
      left: 9px;
      top: 5px;
      width: 5px;
      height: 10px;
      border: solid white;
      border-width: 0 3px 3px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    } 
  }
}

.archive-preview-list{
  display: flex;
  width: 100%;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
  justify-content: space-between;

  li{

  }

  .archive-preview-item{
    width: 23%;
    display: block;
    margin-bottom: 1rem;

    &__desc{

      .title{
        padding: 0.5rem 0
      }
      .desc{
        display: none;
      }
    }
  }
}

.footer-site-info{
  text-align: center;
  font-size: 0.9rem;
  color: #D9DBE1;

  .img-wrap{
    margin-bottom: 1rem;
  }
}

.main-footer-nav{
  &__heading{
    font-family: 'Inter', sans-serif; 
    font-size: 1.15rem;
    color: #fff;
    margin-bottom: 1.5rem;
    font-weight: 600;
  }

  &-list{
    padding: 0;
    margin: 0;

    li{
      margin-bottom: 1rem;
      display: block;

      a{
        color: rgba(255, 255, 255, 0.75);

        &:hover{
          color: #fff;
        }
      }
    }
  }
}

.about-us-feature-list{
  li{
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    flex-direction: row;

    .heading{
      font-size: 2rem;
      line-height: 1.5;
      margin-bottom: 1rem;
      color: #fff;
    }

    .content{
      width: 50%;
      color: rgba(255,255,255,0.75);
    }

    .img-wrap{
      width: 50%;
      padding: 1rem;
    }

    &:nth-of-type(2n){
      flex-direction: row-reverse;
    }
  }
}

/*details css*/
.details-hero{
  background: url('../img/preview/details-bg-preview.png');
  background-size: cover;
  position: relative;

  &:before{
    content: " ";
    position: absolute;
    display: block;
    width: 50%;
    height: 100%;
    left: 0;
    top: 0;
    background: linear-gradient(272.04deg, #051019 1.85%, #051019 20.66%, rgba(5, 16, 25, 0.663991) 56.37%, rgba(5, 16, 25, 0.298642) 84.03%, rgba(5, 16, 25, 0) 98.42%);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    transform: rotate(-180deg);
  }
}

.details-hero-content{
  &__time{
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;

    .icon{
      margin-right: 0.5rem;
      margin-top: -4px;
    }
  }

  &__heading{
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 1rem;
  }

  &__subheading{
    font-size: 1.15rem;
    margin-bottom: 2rem;
  }
}

.details-hero-rating{
  &__wrap{
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
  }

  &__brief{
    font-weight: 500;
    margin-right: 1.5rem;
  }

  &__item{
    display: flex;
    align-items: center;
    margin-right: 1.5rem;

    .progress-wrap{
      margin-right: 0.5rem
    }

    .name{
      font-size: 0.9rem;
      font-weight: 500;
    }
  }
}

.details-ebit-rating{

  &__wrap{
    margin-bottom: 2rem;

    // display: none!important;

    > .row{
      align-items: center;
    }
  }

  &__main{
    .progress-value{
      font-size: 1.5rem!important;
      font-weight: 500!important;
    }
  }
}

.ebit-movie-details-rating-list{
  padding: 0;
  margin: 0;
  li{
    display: block;
    margin-bottom: 0.8rem;

    .progress{
      background: rgba(255,255,255,0.5);
      height: 0.5rem;
      margin-bottom: 0.25rem;

      .progress-bar{
        background: linear-gradient(270deg, #54D6FF 0%, #7468FF 100%);
      }
    }

    .parameter{
      font-size: 0.9rem;
      font-weight: 400;
    }
  }  
}

.details-hero-btn-wrap{
  .btn{
    margin-right: 0.5rem;
    .icon{
      margin-right: 0.5rem;
    }
  }
}

.details-hero-rating-col{
  &__wrap{
    align-self: flex-end;
  }
}

.ebit-internal-ratings-list{
  display: flex;
  padding: 0px;
  margin: 0px;
  justify-content: flex-end;

  li{
    display: flex;
    align-items: center;
    margin-right: 1rem;
    background: rgba(0, 16, 30, 0.6);
    border-radius: 0.25rem;
    padding: 1rem 1rem;
    box-shadow: 0px 6px 9px rgba(0, 0, 0, 0.2);
    font-size: .9rem;

    .icon{
      margin-right: 0.5rem;
    }

    .content{
      text-align: center;
      .main{
        width: 100%;

        strong{
          margin-right: 0.25rem;
        }
      }

      .sub-text{
        width: 100%;
        font-size: 0.7rem;
      }
    }
  }
}

.ebit-details-nav-tab{
  
  .nav-link{
    color: rgba(255,255,255,0.6);

    padding: 0.8rem 2rem;
    font-weight: 500;

    a{
      color: #fff;
    }
  }

  .nav-link.active, 
  .show > .nav-link{
    background: #D21A4E;
    border-radius: 50px;
  }
}

.box-heading{
  font-size: 1.5rem;
  font-weight: 500;
  padding-left: 1rem;
  position: relative;
  margin-bottom: 2rem;

  &:before{
    content: " ";
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    height: 80%;
    top: 10%;
    background: #FE316C;
    // width: .25rem;
    border: 4px solid #FE316C;
    border-top: transparent;
    border-bottom: transparent;
    border-left: transparent;
  }
}

.ebit-details-nav-tab-content{
  padding-top: 2rem;
}

.overview-movie-stat-list{
  color: rgba(255,255,255,0.75);
  padding: 0;
  margin: 0px;

  li{
    display: block;
    margin-bottom: 2rem;
    display: flex;

    .stat-name{
      width: 30%;
    }

    .value{
      width: 70%;
    }
  }
}

.details-stream-provider-list{
  padding: 0px;
  margin-bottom: 2rem;

  li{
    display: inline-block;  
    padding: 0.5rem 2rem;
    background: #000;
    margin-right: 0.5rem;
  }
}

.details-ebit-review{
  color: rgba(255,255,255,0.75);
}

.details-cast-crew-list{
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  margin-bottom: 4rem;

  li{
    display: block;
    max-width: 9%;

    .img-wrap{
      margin-bottom: 1rem;
    }

    .name{
      color: #fff;
      font-weight: 500;
    }

    .role{
      color: rgba(255,255,255,0.5);
      font-size: 0.8rem
    }
  }
}

.similar-by-list{
  display: flex;
  justify-content: space-between;
  margin: 0px;
  padding: 0px;
  margin-bottom: 4rem;

  li{
    width: 15%;
    display: block;

    a{
      color: #fff;
      text-decoration: none;
    }

    .img-wrap{
      margin-bottom: 1rem;
    }

    .details{
      font-weight: normal;
      display: flex;
      justify-content: space-between;

      .icon{
        display: inline-block;
        margin-right: 4px;
        position: relative;
        top: -4px;
      }
    }
  }
}
/*details css */

/*details css 2 */
.details-critique-slider{
  &__wrap{
    margin-bottom: 2rem;
    // .slick-slider {
    //   margin:0 -15px;
    // }

    // .slick-slide {
    //     padding:10px;
    //     background-color:red;
    //     text-align:center;
    //     margin-right:15px;
    //     margin-left:15px;
    // }
  }

  &__inner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &-item{
    width: 24%;
    background: #151F30;
    padding: 1.5rem;
    border-radius: 0.5rem;

    .author-wrap{
      display: flex;
      justify-content: flex-start;
      margin-bottom: 2rem;
      align-items: center;

      .icon{
        margin-right: 0.5rem;
      }

      .author-details{
        margin-right: auto;
      }

      .publication{
        font-weight: 500;
      }

      .name{
        font-size: 0.9rem;
        color: rgba(255,255,255,0.75)
      }

      .rating{
        justify-content: flex-end;
        font-weight: 500;
        display: flex;

        .icon{
          margin-top: -4px;
        }
      }
    }

    > .title{
      font-weight: 500;
      margin-bottom: 1rem;
      font-size: 0.9rem;
    }

    .content{
      color: rgba(255,255,255,.75);
      line-height: 1.5;
      font-size: 0.9rem;
      margin-bottom: 0.5rem;
    }

    .readmore{
      color: #fff;
      font-size: 0.9rem;
    }
  }
}

.details-trailer-list{
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  margin-bottom: 2rem;
  // display: none;

  li{
    display: block;
    position: relative;
    width: 24%;

    &:after{
      position: absolute;
      top: 50%;
      left: 50%;

    }

    .content{
      position: absolute;
      width: 100%;
      bottom: 0px;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 31.98%, rgba(4, 3, 9, 0.514342) 59.06%, rgba(6, 4, 12, 0.694493) 70%, rgba(7, 5, 15, 0.84) 83.54%, rgba(8, 6, 16, 0.76) 97.6%);
      color: #fff;
      display: flex;
      padding: 1rem;
      padding-top: 1rem;
      font-size: 0.9rem;
      font-weight: 500;

      .icon{
        margin-right: 0.25rem;
        margin-top: -2px;
      }
    }

  }
}

.details-photos-preview-list{
  padding: 0;
  margin: 0px;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  li{
    width: 19%;
    display: block;

    a{
      display: inline-block;
    }
  }
}

.details-hero{
  position: relative;
}

.details-hero-video{
  &__wrap{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    overflow: hidden;
    z-index: 1000;
    display: none;

    &.show{
      display: block;
    }

    .embed-reponsive{
      max-height: 100%;
      overflow: hidden;
    }
  }
}
/*details css 2 */
/*home css */
.home-top-movie-preview-list{
  padding: 0;
  display: flex;
  margin: 0;
  overflow: hidden;
  margin-right: 1rem;
  margin-bottom: 2rem;
  justify-content: space-between;
  // flex-wrap: wrap;

  li{
    width: 33%;
    display: block;
    position: relative;
    border-radius: .5rem;
    // margin-right: 2rem;

    .img-wrap{
      position: relative;

      &:after{
        position: absolute;
        display: block;
        content: " ";
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 31.98%, rgba(4, 3, 9, 0.514342) 59.06%, rgba(6, 4, 12, 0.694493) 70%, rgba(7, 5, 15, 0.84) 83.54%, rgba(8, 6, 16, 0.76) 97.6%);
        opacity: 0.75;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
      }
    }

    .title{
      position: absolute;
      bottom: 0px;
      padding: 1rem;
      font-size: 1.25rem;
      color: #fff;
    }
  }
}

.home-preview-slider__inner{
  overflow: hidden;

  &.slick-slider {
    margin-left: -15px;
    margin-right: -15px;
  }
  .slick-slide {
      // padding:10px;
      // background-color:red;
      // text-align:center;
      margin-right:15px;
      margin-left:15px;
  }

  &.slick-slider{
    .slick-arrow{
        display:none !important;
    }
    &:hover{
        .slick-arrow{
            display:block !important;
        }
    }
  }

  .slick-arrow{
    width: 60px;
    height: 100%;
    z-index:1000;
    background: linear-gradient(276.97deg, #051019 31.09%, rgba(5, 16, 25, 0) 102.62%);
    &.slick-disabled{
      display: none!important;
      opacity: 0;
    }
  }

  .slick-next{
    right: 0;

    &:before{
      content: " ";
      background: url('../img/home-slide-arrow.png') no-repeat;
      width:15px;
      height: 30px;
      background-position: center center;
      display: inline-block;
    }
  }

  .slick-prev{
    left: 0;

    &:before{
      content: " ";
      background: url('../img/home-slide-arrow.png') no-repeat;
      width:15px;
      height: 30px;
      background-position: center center;
      display: inline-block;
      transform: rotateZ(180deg);
    }
  }
}

.home-preview-item{
  padding: 2.5rem 2rem;
  background: rgba(21, 31, 48, 1);
  margin-bottom: 2rem;

  .title{
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  .desc{
    margin-bottom: 2rem;
    color: rgba(255,255,255,0.75);
  }
}

.home-explorer-top-list{
  margin: 0;
  padding: 0;
  text-align: center;
  width: 60%;
  margin: auto;
  margin-bottom: 3rem;
  display: flex;
  justify-content: space-between;

  li{
    display: inline-block;
    font-size: 1.5rem;
    padding: 1rem 0;
    border-bottom: 2px solid transparent;
    color: rgba(255,255,255,0.75);
    font-weight: 500;
    cursor: pointer;

    &:hover,
    &.active{
      color: #D21A4E;
      border-color: rgba(210, 26, 78, 1);
    }
  }

}

.home-explorer-movie-list{
  @extend .similar-by-list;
}

.home-explorer-gener-list{
  margin: 0;
  padding: 0;
  margin-bottom: 2rem;
  text-align: center;

  li{
    display: inline-block;
    margin-right: 1rem;

    a{
      color: rgba(255,255,255,0.75);
      padding: 1rem;
      border-radius: 50px;
      text-decoration: none;
      display: inline-block;

    }

    &:hover,
    &.active{
      a{
        background: linear-gradient(270deg, #ED2961 0%, #BD0F40 100%);
        color: #fff;
        border: transparent;
      }
    }
  }
}
/*home css */
/*home css 2 */
.home-top-movie-preview-list{
  &.slick-slider {
    margin-left: -15px;
    margin-right: -15px;
  }
  .slick-slide {
      // padding:10px;
      // background-color:red;
      text-align:center;
      margin-right:15px;
      margin-left:15px;
  }

  &.slick-slider{
    .slick-arrow{
        display:none !important;
    }
    &:hover{
        .slick-arrow{
            display:block !important;
        }
    }
  }

  .slick-arrow{
    width: 60px;
    height: 100%;
    z-index:1000;
    background: linear-gradient(276.97deg, #051019 31.09%, rgba(5, 16, 25, 0) 102.62%);
    &.slick-disabled{
      display: none!important;
      opacity: 0;
    }
  }

  .slick-next{
    right: 0;

    &:before{
      content: " ";
      background: url('../img/home-slide-arrow.png') no-repeat;
      width:15px;
      height: 30px;
      background-position: center center;
      display: inline-block;
    }
  }

  .slick-prev{
    left: 0;

    &:before{
      content: " ";
      background: url('../img/home-slide-arrow.png') no-repeat;
      width:15px;
      height: 30px;
      background-position: center center;
      display: inline-block;
      transform: rotateZ(180deg);
    }
  }
}

.selected-best-story{
  &__wrap{
    display: flex;
    align-items: flex-end;
    position: relative;

    .img-wrap{
      position: absolute;
      width: 100%;
      height: 100%;
    }

    .content-wrap{
      position: relative;
      padding-top: 10rem;
      padding-bottom: 2rem;
      padding-left: 2rem;
      padding-right: 2rem;
      width: 100%;
      background: rgba(0,0,0,.2);
    }

    .rating-wrap{
      display: flex;
      margin-bottom: 0.5rem;
    }

    .rating-star{
      display: inline-block;
      margin-right: 0.5rem;
    }

    .title{
      font-size: 1.25rem;
      font-weight: 500;
      margin-bottom: 0.5rem;
    }

    .sub-heading{
      font-size: .9rem;
      margin-bottom: 1rem;
    }

    .btn-wrap{

    }
  }
}

.best-in-story-slider__inner{
  &.slick-slider {
    margin-left: -15px;
    margin-right: -15px;
  }
  .slick-slide {
      // padding:10px;
      // background-color:red;
      text-align:center;
      margin-right:10px;
      margin-left:10px;
  }

  &.slick-slider{
    .slick-arrow{
        display:none !important;
    }
    &:hover{
        .slick-arrow{
            display:block !important;
        }
    }
  }

  .slick-arrow{
    width: 60px;
    height: 100%;
    z-index:1000;
    background: linear-gradient(276.97deg, #051019 31.09%, rgba(5, 16, 25, 0) 102.62%);
    &.slick-disabled{
      display: none!important;
      opacity: 0;
    }
  }

  .slick-next{
    right: 0;

    &:before{
      content: " ";
      background: url('../img/home-slide-arrow.png') no-repeat;
      width:15px;
      height: 30px;
      background-position: center center;
      display: inline-block;
    }
  }

  .slick-prev{
    left: 0;

    &:before{
      content: " ";
      background: url('../img/home-slide-arrow.png') no-repeat;
      width:15px;
      height: 30px;
      background-position: center center;
      display: inline-block;
      transform: rotateZ(180deg);
    }
  }
}

.home-mood-section{
  background: linear-gradient(270.05deg, #151F30 0.04%, #0E1826 74.14%, #051019 99.95%);

  &__heading{
    font-size: 2.5rem;
    font-weight: 500;

    span{
      color: #ED2961;
    }
  }
}

.mood-row-top{
  align-items: center;
  margin-bottom: 2rem;
}

.mood-slider-top{

  &__inner{
    .slick-track{
      padding-bottom: 2.5rem;
    }

    &.slick-slider{
      .slick-arrow{
          display:none !important;
      }
      &:hover{
          .slick-arrow{
              display:block !important;
          }
      }
    }

    .slick-arrow{
      width: 60px;
      height: 180px;
      z-index:1000;
      background: linear-gradient(276.97deg, #051019 31.09%, rgba(5, 16, 25, 0) 102.62%);
      &.slick-disabled{
        display: none!important;
        opacity: 0;
      }
    }

    .slick-next{
      right: 0;

      &:before{
        content: " ";
        background: url('../img/home-slide-arrow.png') no-repeat;
        width:15px;
        height: 30px;
        background-position: center center;
        display: inline-block;
      }
    }

    .slick-prev{
      left: 0;

      &:before{
        content: " ";
        background: url('../img/home-slide-arrow.png') no-repeat;
        width:15px;
        height: 30px;
        background-position: center center;
        display: inline-block;
        transform: rotateZ(180deg);
      }
    }
  }

  &-item{
    text-align: center;
    transform: scale(0.9);

    &:after{
      content: " ";
      display: block;
      width: 62px;
      height: 32px;
      background: url('../img/mood-triangle.png') no-repeat;
      background-position: center center;
      position: absolute;
      left: 50%;
      bottom: -40px;
      transform: translate(-50%,0);
      display: none;
    }

    .img-wrap{
      width: 150px 150px;
      overflow: hidden;
      border-radius: 100%;
      border: 2px solid transparent;
      margin-bottom: .5rem;
    }

    .title{
      color: rgba(255,255,255,0.75);
    }

    &.slick-current,
    &:hover{
      cursor: pointer;
      transform: scale(1);

      &:after{
        display: block;
      }

      .img-wrap{
        border-color: #fff;
      }

      .title{
        color: #fff;
      }
    }
  }
}

.mood-slider-main{
  &__wrap{
    padding: .5rem;
    background: #051019;
    margin-left: 218px;
    position: relative;

    .slick-track{
      border-top: .5rem dashed #0e1927;
      border-bottom: .5rem dashed #0e1927;
      padding: 0.5rem;
    }

    &:before{
      content: " ";
      width: 526px;
      height: 297px;
      background: url('../img/mood-popcorn.png') no-repeat;
      background-position: center center;
      z-index: 10000;
      left: -218px;
      top: -2rem;
      position: absolute;
    }
  }

  &__inner{
    &.slick-slider {
      margin-left: -10px;
      margin-right: -10px;
    }
    .slick-slide {
        // padding:10px;
        // background-color:red;
        text-align:center;
        margin-right:5px;
        margin-left:5px;
    }

    &.slick-slider{
      .slick-arrow{
          display:none !important;
      }
      &:hover{
          .slick-arrow{
              display:block !important;
          }
      }
    }

    .slick-arrow{
      width: 60px;
      height: 100%;
      z-index:1000;
      background: linear-gradient(276.97deg, #051019 31.09%, rgba(5, 16, 25, 0) 102.62%);
      &.slick-disabled{
        display: none!important;
        opacity: 0;
      }
    }

    .slick-next{
      right: 0;

      &:before{
        content: " ";
        background: url('../img/home-slide-arrow.png') no-repeat;
        width:15px;
        height: 30px;
        background-position: center center;
        display: inline-block;
      }
    }

    .slick-prev{
      left: 0;

      &:before{
        content: " ";
        background: url('../img/home-slide-arrow.png') no-repeat;
        width:15px;
        height: 30px;
        background-position: center center;
        display: inline-block;
        transform: rotateZ(180deg);
      }
    }
  }

  &-item{
    max-height: 182px;
    border-radius: .5rem;
    overflow: hidden;
  }
}

.ebit-treasure-section{
  &__heading{
    text-align: center;
  }
}

.ebit-treasure-nav-tab{
  padding: 2rem 0;
  text-align: center;
  justify-content: center;
  
  .nav-link{
    color: rgba(255,255,255,0.6);

    padding: 0.8rem 2rem;
    font-weight: 500;

    a{
      color: #fff;
    }
  }

  .nav-link.active, 
  .show > .nav-link{
    background: #D21A4E;
    border-radius: 50px;
  }
}

.ebit-treasure-slider{

  &__wrap{
    width: 900px;
    margin: 0 auto;
    max-width: 80%;
  }

  &__inner{
    &.slick-slider {
      margin-left: -12%;
      margin-right: -12%;
    }

    .slick-list {
      padding-top: 3rem!important;
      padding-bottom: 3rem!important;
      padding-left: 15%!important;
      padding-right: 15%!important;
    }

    .slick-dots {
      text-align: right;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
    }

    .slick-track {
      max-width: 100%!important;
      transform: translate3d(0, 0, 0)!important;
      perspective: 100px;
    }

    .slick-slide {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      opacity: 0;
      width: 100%!important;
      transform: translate3d(0, 0, 0);
      transition: transform 1s, opacity 1s;
      // background: #fff;
      background: #05101A;
      background: red;
      padding: 0rem;
      height: 510px;
      background: url('../img/preview/ebit-treasure-preview.png') no-repeat;
      background-size: cover;
    }

    .ebit-treasure-slide{
      display: flex;
      align-items: flex-end;
      padding-left: 1rem;
      padding-right: 1rem;
      box-shadow: 0 0 100px rgba(0,0,0,0.9);

      &__content{
        padding-top: 3rem;
        padding-bottom: 2rem;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 5%, rgba(4, 3, 9, 0.514342) 59.06%, rgba(6, 4, 12, 0.694493) 70%, rgba(7, 5, 15, 0.84) 83.54%, rgba(8, 6, 16, 0.76) 97.6%);
        display: none;
        align-items: flex-end;


        .title{
          font-size: 1.5rem;
          margin-bottom: 1rem;
          font-weight: 500;
        }

        .sub-heading{
          font-size: 0.9rem;
          margin-bottom: 1rem;
        }

        .content{
          font-size: 0.9rem;
        }

        .progress-wrap{
          .progress-value{
            font-weight: 600;
            font-size: 0.9rem;
          }
        }

        .rating-title{
          text-align: center;
        }

      }
    }

    .slick-snext,
    .slick-sprev,
    .slick-snext2,
    .slick-sprev2{
      display: flex;
    }

    .slick-current {
      opacity: 1;
      position: relative;
      display: flex;
      z-index: 2;

      .ebit-treasure-slide__content{
        display: flex;
      }
    }

    .slick-snext {
      opacity: 1;
      transform: translate3d(20%, 0, -10px);
      z-index: 1;
      perspective: 1000px;
    }
    .slick-snext2 {
      opacity: 1;
      transform: translate3d(40%, 0, -20px);
      z-index: 0;
      perspective: 1000px;
    }

    .slick-sprev {
      opacity: 1;
      transform: translate3d(-20%, 0, -10px);
    }

    .slick-sprev2 {
      opacity: 1;
      transform: translate3d(-40%, 0, -20px);
    }
  }
}

.home-ebit-stream-nav-tab{
  padding: 2rem 0;
  text-align: center;
  
  .nav-link{
    color: rgba(255,255,255,0.6);
    background: #151F30;
    border-radius: 50px;
    margin-right: 1rem;

    padding: 0.8rem 2rem;
    font-weight: 500;

    a{
      color: #fff;
    }
  }

  .nav-link.active, 
  .show > .nav-link{
    background: #D21A4E;
    border-radius: 50px;
  }
}

.home-ebit-stream-slider_inner{
  &.slick-slider {
    margin-left: -15px;
    margin-right: -15px;
  }
  .slick-slide {
      // padding:10px;
      // background-color:red;
      text-align:center;
      margin-right:10px;
      margin-left:10px;
      position: relative;

      .title{
        background: linear-gradient(270deg, #ED2961 0%, #BD0F40 100%);
        color: #fff;
        padding: 0.5rem;
        position: absolute;
        padding-bottom: 0.5rem;
        left:0;
        bottom: 1rem;
        font-size: 0.9rem;

        .count{
          font-size: 1.25rem;
          font-weight: 500;
          display: inline-block;
          margin-right: 0.25rem;
        }
      }
  }

  &.slick-slider{
    .slick-arrow{
        display:none !important;
    }
    &:hover{
        .slick-arrow{
            display:block !important;
        }
    }
  }

  .slick-arrow{
    width: 60px;
    height: 100%;
    z-index:1000;
    background: linear-gradient(276.97deg, #051019 31.09%, rgba(5, 16, 25, 0) 102.62%);
    &.slick-disabled{
      display: none!important;
      opacity: 0;
    }
  }

  .slick-next{
    right: 0;

    &:before{
      content: " ";
      background: url('../img/home-slide-arrow.png') no-repeat;
      width:15px;
      height: 30px;
      background-position: center center;
      display: inline-block;
    }
  }

  .slick-prev{
    left: 0;

    &:before{
      content: " ";
      background: url('../img/home-slide-arrow.png') no-repeat;
      width:15px;
      height: 30px;
      background-position: center center;
      display: inline-block;
      transform: rotateZ(180deg);
    }
  }
}

.home-upcoming-movies-section{
  position: relative;
}

.home-upcoming-movies-section-item{
  padding: 4rem 0;  
  background: url('../img/preview/details-bg-preview.png');
  background-size: cover;

  &__inner{
  }
}

.home-top-upcoming-movies{
  &__wrap{
    min-height: 540px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .title{
      font-size: 2rem;
      margin-bottom: 1rem;
    }

    .sub-heading{
      font-size: 1.25rem;
      font-weight: 500;
      margin-bottom: 2rem;
    }

    .btn-wrap{
      .btn{
        border-radius: 0px;
        margin-right: .5rem;
      }
    }
  }
}

.home-upcoming-movies-slider{
  &__wrap{
    width: 40%;
    position: absolute;
    bottom: 0;
    right: 0;
    background: #051019;
    padding: 1rem;
    padding-left: 3rem;
  }

  &__heading{
    font-size: 1.5rem;
    left: 1.5rem;
    position: absolute;
    transform: translate(-50%,-50%) rotateZ(-90deg);
    top: 50%;
  }

  &__inner{
    &.slick-slider {
      margin-left: -15px;
      margin-right: -15px;
    }

    .slick-slide {
        // padding:10px;
        // background-color:red;
        text-align:center;
        margin-right:10px;
        margin-left:10px;
    }

    &.slick-slider{
      .slick-arrow{
          display:none !important;
      }
      &:hover{
          .slick-arrow{
              display:block !important;
          }
      }
    }

    .slick-arrow{
      width: 60px;
      height: 100%;
      z-index:1000;
      background: linear-gradient(276.97deg, #051019 31.09%, rgba(5, 16, 25, 0) 102.62%);
      &.slick-disabled{
        display: none!important;
        opacity: 0;
      }
    }

    .slick-next{
      right: 0;

      &:before{
        content: " ";
        background: url('../img/home-slide-arrow.png') no-repeat;
        width:15px;
        height: 30px;
        background-position: center center;
        display: inline-block;
      }
    }

    .slick-prev{
      left: 0;

      &:before{
        content: " ";
        background: url('../img/home-slide-arrow.png') no-repeat;
        width:15px;
        height: 30px;
        background-position: center center;
        display: inline-block;
        transform: rotateZ(180deg);
      }
    }
  }

  &-item{
    position: relative;

    &:before{
      content: " ";
      width: 100%;
      height: 100%;
      background: transparent;
      left: 0;
      top: 0;
      position: absolute;
      border-left: 2px dashed #051019;
      border-right: 2px dashed #051019;
      z-index: 1000;
    }

    .date-wrap{
      position: absolute;
      width: 100%;
      bottom: 0;
      padding: 1rem;
      background: linear-gradient(270deg, #ED2961 0%, #BD0F40 100%);

      .title{
        font-size: .9rem;
      }

      .date{
        font-weight: 500;
      }
    }
  }
}

.home-spotlight-slider{
  &__wrap{
    max-width: 80%;
    margin-left: 10%;
    position: relative;

    &:after{
      position: absolute;
      content: " ";
      width: 474px;
      height: 557px;
      background: url('../img/home-spotlight-projector.png') no-repeat;
      background-size: cover;
      background-position: center center;
      bottom: -60px;
      right: -200px;
    }
  }

  &__inner{

    .slick-track {
      max-width: 100%!important;
      transform: translate3d(0, 0, 0)!important;
      // perspective: 100px;
    }

    .slick-list{
      overflow: visible;
    }

  }

  &-item{
    height: 540px;
    padding: 4rem;
    background: red;
    background: url('../img/preview/ebit-treasure-preview.png');
    background-size: cover;
    position: absolute;
    transform: rotateX(20deg) rotateY(-20deg);
    perspective: 1000px;
    left: 0;
    top: 0;
    position: absolute;
    box-shadow: 0 0 50px #1C190D;
    transition: all 1s;
    flex-direction: column;
    justify-content: space-between;

    .top-row,
    .bottom-row{
      width: 100%;
      display: block;

      // > *{
      //   position: relative;
      // }
    }

    .top-row{
      &:before{
        position: absolute;
        top: 0;
        left: 0;
        content: " ";
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,.2);
        display: block;
      }
    }

    .rating{
      margin-bottom: 1rem;
      display: inline-block;

      .progress{
        margin-left: 0px;
      }
    }

    .progress-value{
      font-size: 0.9rem;
      font-weight: 500;
    }

    .bottom-row{
     .title{
        font-size: 2rem;
        font-weight: 500;
        margin-bottom: 1rem;
      }

      .sub-heading{
        font-size: 0.9rem;
        font-weight: 300;
      } 
    }

    &.slick-current{
      transform: scale(1) translate(0%,0%) rotateX(15deg) rotateY(-20deg) skewY(5deg)!important;
      z-index: 10000;
      position: relative;
      display: flex;
    }

    &:nth-of-type(1){
      transform: scale(0.8) translate(-40%,0) rotateX(15deg) rotateY(-20deg) skewY(5deg);
    }

    &:nth-of-type(2){
      transform: scale(0.85) translate(-30%,0) rotateX(15deg) rotateY(-20deg) skewY(5deg);
    }

    &:nth-of-type(3){
      transform: scale(0.90) translate(-20%,0) rotateX(15deg) rotateY(-20deg) skewY(5deg);
    }

    &:nth-of-type(4){
      transform: scale(0.95) translate(-10%,0) rotateX(15deg) rotateY(-20deg) skewY(5deg);
    }
  }
}

.home-blog-explorer-slider{

  &__inner{

    &.slick-slider {
      margin-left: -15px;
      margin-right: -15px;
    }
    
    .slick-slide {
        // padding:10px;
        // background-color:red;
        // text-align:center;
        margin-right:10px;
        margin-left:10px;
    }

    .slick-track{
      padding: 1rem 0;
    }

    &.slick-slider{
      .slick-arrow{
          display:none !important;
      }
      &:hover{
          .slick-arrow{
              display:block !important;
          }
      }
    }

    .slick-arrow{
      width: 60px;
      height: 100%;
      z-index:1000;
      background: linear-gradient(276.97deg, #051019 31.09%, rgba(5, 16, 25, 0) 102.62%);
      &.slick-disabled{
        display: none!important;
        opacity: 0;
      }
    }

    .slick-next{
      right: 0;

      &:before{
        content: " ";
        background: url('../img/home-slide-arrow.png') no-repeat;
        width:15px;
        height: 30px;
        background-position: center center;
        display: inline-block;
      }
    }

    .slick-prev{
      left: 0;

      &:before{
        content: " ";
        background: url('../img/home-slide-arrow.png') no-repeat;
        width:15px;
        height: 30px;
        background-position: center center;
        display: inline-block;
        transform: rotateZ(180deg);
      }
    }
  }

  &-slide{
    .img-wrap{
      margin-bottom: 1rem;
      background: inherit;

      img{
        margin-bottom: 1rem;
      }
    }

    .date{
      font-size: .9rem;
      padding-left: 1rem;
    }

    .title{
      font-size: 1.25rem;
      margin-bottom: 1rem;
    }

    .content-wrap{
      padding: 1rem;
    }

    .content{
      color: rgba(255,255,255,0.75);
      margin-bottom: 1rem;
    }

    .btn-wrap{
      .btn{
        background: transparent;
        color: #fff;
        padding-left: 0px;

        &:hover{
          color: #D21A4E;
        }
      }
    }

    &:hover{
      box-shadow: -10px 300px 15px rgba(165, 0, 47, 0.3);
    }
  }



}

/*home css 2 */
