<!DOCTYPE html>
{% load static %}
<html>
<head>
<!-- <meta http-equiv="refresh" content="2" > -->
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;600;700;900&display=swap" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap" rel="stylesheet"> 
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" integrity="sha256-+N4/V/SbAFiW1MPBCXnfnP9QSN3+Keu+NlB+0ev/YKQ=" crossorigin="anonymous" />

  <link rel="stylesheet" href="{% static 'review/vendor/bootstrap/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'review/vendor/animate/animate.min.css' %}">
  <link rel="stylesheet" href="{% static 'review/vendor/bootstrap/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'review/vendor/slick/slick.css' %}">
  <link rel="stylesheet" href="{% static 'review/vendor/slick/slick-theme.css' %}">
  <link rel="stylesheet" href="{% static 'review/css/style.css' %}">
  <script src="{% static 'review/vendor/chartjs/dist/chart.min.js' %}"></script>
  <script src="{% static 'review/js/index.js' %}"></script>
</head>

<body>
  <!-- main header -->
    <header class="section section--main-header">
      <div class="top-header-nav-wrap">
        <div class="section__inner container">
          <nav class="navbar navbar-expand-lg">
            <a class="navbar-brand" href="/">
              <img src="{% static 'review/img/ebit-logo-white.png' %}" alt="" class="img-fluid">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <i class="fas fa-bars"></i>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="#">Wishlist <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="https://ghaas.xyz/blog">Username</a>
                </li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
       <!-- </div> -->
      <div class="top-sidebar-nav__wrap">
        <div class="top-sidebar-nav__logo">
          <img src="{% static 'review/img/ebit-logo-white.png' %}" alt="" class="img-fluid">
        </div>
        <ul class="top-sidebar-nav__list">
          <li>
            <a href="" class="active">
              <span class="icon">
                <img src="{% static 'review/img/nav-movie.png' %}" alt="">
              </span>
              <span class="text">OTT</span>
            </a>
          </li>
          <li>
            <a href="">
              <span class="icon">
                <img src="{% static 'review/img/nav-books.png' %}" alt="">
              </span>
              <span class="text">Books</span>
            </a>
          </li>
          <li>
            <a href="">
              <span class="icon">
                <img src="{% static 'review/img/nav-podcast.png' %}" alt="">
              </span>
              <span class="text">Podcast</span>
            </a>
          </li>
          <li>
            <a href="">
              <span class="icon">
                <img src="{% static 'review/img/nav-games.png' %}" alt="">
              </span>
              <span class="text">Games</span>
            </a>
          </li>
        </ul>
      </div>
    </header>

    <div class="section section--no-pad home-explorer-section">
       <div id="mov">
         <div class="section__inner container">
           <ul class="home-explorer-top-list" id="top-label-list">
             <li class="active" id="top-label"><a href="#">Trending Now</a></li>
             <li><a href="#">Popular</a></li>
             <li><a href="#">Recommended</a></li>
             <li><a href="#">Newly Added</a></li>
           </ul>
           <ol class="home-explorer-gener-list" id="top-genre-list"></ol>
           <ul class="home-explorer-movie-list" id ="home-explorer-movie-list_id"></ul>
        </div>
       </div>
     </div>

   <script>
    var cur_label = "Trending Now"
    var cur_genre = null
    var clicked_label = null
    var clicked_genre = null
    $(document).ready(loadGenres())
   </script>

   <script>
     $('#top-genre-list').on('click', 'li', function(event) {
          $('#home-explorer-movie-list_id').empty();
          var genre = $(event.target).text();
          $(event.target).parent().toggleClass('active')
          $('#top-genre').toggleClass('active')
          if (clicked_genre !== null){
              clicked_genre.parent().toggleClass('active')
         }
          cur_genre = genre
          clicked_genre = $(event.target)
          fetchMovies(category = cur_genre, cur_label)
    });
   </script>

   <script>
     $('#top-label-list').on('click', 'li', function(event) {
         var label = $(event.target).text();
         $('#home-explorer-movie-list_id').empty();
         $(event.target).parent().toggleClass('active')
         $('#top-label').toggleClass('active')
         if (clicked_label !== null){
              clicked_label.parent().toggleClass('active')
         }
         var label = $(event.target).text();
         cur_label = label
         clicked_label = $(event.target)
         fetchMovies(category = cur_genre, cur_label)
    });
   </script>


</body>
</html>
