.home-blog-explorer-slider{

  &__inner{

    &.slick-slider {
      margin-left: -15px;
      margin-right: -15px;
    }
    
    .slick-slide {
        // padding:10px;
        // background-color:red;
        // text-align:center;
        margin-right:10px;
        margin-left:10px;
    }

    .slick-track{
      padding: 1rem 0;
    }

    &.slick-slider{
      .slick-arrow{
          display:none !important;
      }
      &:hover{
          .slick-arrow{
              display:block !important;
          }
      }
    }

    .slick-arrow{
      width: 60px;
      height: 100%;
      z-index:1000;
      background: linear-gradient(276.97deg, #051019 31.09%, rgba(5, 16, 25, 0) 102.62%);
      &.slick-disabled{
        display: none!important;
        opacity: 0;
      }
    }

    .slick-next{
      right: 0;

      &:before{
        content: " ";
        background: url('../../assets/img/home-slide-arrow.png') no-repeat;
        width:15px;
        height: 30px;
        background-position: center center;
        display: inline-block;
      }
    }

    .slick-prev{
      left: 0;

      &:before{
        content: " ";
        background: url('../../assets/img/home-slide-arrow.png') no-repeat;
        width:15px;
        height: 30px;
        background-position: center center;
        display: inline-block;
        transform: rotateZ(180deg);
      }
    }
  }

  &-slide{
    .img-wrap{
      margin-bottom: 1rem;
      background: inherit;

      img{
        margin-bottom: 1rem;
      }
    }

    .date{
      font-size: .9rem;
      padding-left: 1rem;
    }

    .title{
      font-size: 1.25rem;
      margin-bottom: 1rem;
    }

    .content-wrap{
      padding: 1rem;
    }

    .content{
      color: rgba(255,255,255,0.75);
      margin-bottom: 1rem;
    }

    .btn-wrap{
      .btn{
        background: transparent;
        color: #fff;
        padding-left: 0px;

        &:hover{
          color: #D21A4E;
        }
      }
    }

    &:hover{
      box-shadow: -10px 300px 15px rgba(165, 0, 47, 0.3);
    }
  }



}
