<!-- Footer -->
<footer class="main-footer section">
  <div class="main-footer__inner container">
    <div class="row">
      <div class="footer-site-info col-md-2 col-xs-12">
        <div class="img-wrap">
          <img src="assets/img/ebit-logo-footer.png" alt="" class="img-fluid">
        </div>
        <div class="copyright-info">
          &copy; 2021 Ebits. All rights reserved
        </div>
      </div>
      <div class="main-footer-nav__wrap col-md-2">
        <div class="main-footer-nav__heading">OTT</div>
        <ul class="main-footer-nav-list">
          <li><a href="">Best In Story</a></li>
          <li><a href="">Trailer & Buzz</a></li>
          <li><a href="">Upcoming Movies</a></li>
          <li><a href="">New Releases</a></li>
        </ul>
      </div>
      <div class="main-footer-nav__wrap col-md-2">
        <div class="main-footer-nav__heading">Books</div>
        <ul class="main-footer-nav-list">
          <li><a href="">Books Story 1</a></li>
          <li><a href="">Books Story 2</a></li>
          <li><a href="">Books Story 3</a></li>
          <li><a href="">Books Story 4</a></li>
        </ul>
      </div>
      <div class="main-footer-nav__wrap col-md-2">
        <div class="main-footer-nav__heading">OTT</div>
        <ul class="main-footer-nav-list">
          <li><a href="">OTT Story 1</a></li>
          <li><a href="">OTT Story 2</a></li>
          <li><a href="">OTT Story 3</a></li>
          <li><a href="">OTT Story 4</a></li>
        </ul>
      </div>
      <div class="main-footer-nav__wrap col-md-2">
        <div class="main-footer-nav__heading">Podcast</div>
        <ul class="main-footer-nav-list">
          <li><a href="">Podcast Story 1</a></li>
          <li><a href="">Podcast Story 2</a></li>
          <li><a href="">Podcast Story 3</a></li>
          <li><a href="">Podcast Story 4</a></li>
        </ul>
      </div>
      <div class="main-footer-nav__wrap col-md-2">
        <div class="main-footer-nav__heading">Games</div>
        <ul class="main-footer-nav-list">
          <li><a href="">Games Story 1</a></li>
          <li><a href="">Games Story 2</a></li>
          <li><a href="">Games Story 3</a></li>
          <li><a href="">Games Story 4</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
   