brotli==1.0.9
ConfigParser==5.2.0
cryptography==36.0.1
Cython==0.29.28
Django==4.0.2
djangorestframework==3.13.1
dl==0.1.0
docutils==0.18.1
importlib_metadata==4.11.1
keyring==23.5.0
lockfile==0.12.2
lxml==4.8.0
mock==4.0.3
mongoengine==0.24.0
numpy==1.22.2
ordereddict==1.1
protobuf==3.19.4
pyOpenSSL==22.0.0
pytest==7.0.1
simplejson==3.17.6
toml==0.10.2
tornado==6.1
typing_extensions==4.1.1
unicodedata2==14.0.0
zipp==3.7.0
Pillow
django-cors-headers
mysql-connector-python
mysqlclient
